footer{
    min-height: 8vh;
}

footer span{
    font-size: 1.3rem;
}

footer a{
    display: flex;
}

@media screen and (max-width:1000px) {
    footer{
        min-height: 5vh;
    }

    footer span{
        font-size: 3rem;
    }
}