#navbar{
    position: sticky;
    top: 0;
    z-index: 50;
    height: auto;
    min-height: 8vh;
}

#navbar a{
    display: flex;
    height: fit-content;
    padding: .5rem 1rem;
}

#navbar form{
    display: flex;
    align-items: center;
    margin: auto;
    min-width: 30%;
    width: auto;
}

#navbar input{
    border-radius: 4px 0 0 4px;
    margin: 0;
    padding-left: .5rem;
    font-family: 'Roboto',serif;
    border: 1px solid var(--gray);
    box-shadow: 0 0 2px 1.5px var(--dark-gray);
    width: 30rem;
    height: 2rem;
}

#navbar input:focus-visible{
    outline: none;
}

#navbar button{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: var(--white);
    border-radius: 0 4px 4px 0;
    background-color: var(--yellow);
    box-shadow: 0 0 2px 1.5px var(--dark-gray);
    transition: .2s;
}

#navbar button:hover{
    background-color: var(--orange);
}

#hello{
    font-family: 'Roboto', sans-serif;
}

#navbar .user-buttons{
    background-color: var(--gray);
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    color: var(--black);
    text-decoration: none;
    padding: .35rem;
    margin: 0 .5rem;
}

#navbar .user-buttons:hover{
    box-shadow: 0 0 2px 1.5px var(--dark-gray);
}

@media screen and (max-width: 1000px){
    #navbar{
        min-height: 4vh;
        padding: .3rem;
    }

    #navbar .user-buttons,
    #hello{
        font-size: 2rem;
        margin: 1rem;
    }

    #navbar input,
    #navbar button{
        height: 3rem;
    }

    #navbar input{
        font-size: 2rem;
    }

    #navbar img{
        width: 300px;
    }
}